@charset    'utf-8';
@import     '_html5reset';

body {
	font-size: 14px;
	font-family: "Verdana", "Osaka", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.5em;
	color: #353535;
}

a {
	// text-decoration: none;
	color: #666;
}

section {
	margin-bottom: 30px;
}

//util -----------------------------------------
.utl_gray {
	background-color: #f2f2f2;
}

.utl_inlineBlock {
	display: inline-block;
}
//----------------------------------------------


.box_wrapper {
	width: 900px;
	margin: 0 auto;
}

.box_bottomContent {
	clear: left;
}

.box_toggle {
	width: 415px;
	padding: 10px;
	border-radius: 6px;
	display: none;
}

.header {
	margin: 70px 0;

	.pic_logo {
		margin: 0 auto;
		width: 200px;
		height: 118px;
		background-image: url("../images/pic_logo.png");
		background-repeat: no-repeat;
		background-size: 200px 118px;
	}

	.text_title {
		margin: 50px 0 20px;
		font-size: 58px;
		text-align: center;
		font-weight: lighter;
	}

	.text_subTitle {
		color: #666666;
		font-size: 16px;
	}
}

.works {
	text-align: left;

	h2 {
		display: none;
	}

	ul {
		overflow: hidden;

		li {
			width: 280px;
			height: 220px;
			margin-top: 30px;
			margin-right: 30px;
			border-radius: 6px;
			float: left;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	.pic_icon {
		width: 90px;
		height: 90px;
		float: left;
	}

	.list_box_upper {
		padding: 10px;
	}

	.list_box_title {
		width: 158px;
		float: right;

		span {
			color: #666666;
			font-size: 12px;
		}
	}

	.list_box_middle {
		clear: both;
		font-size: 13px;
		padding: 10px;
	}

	.list_box_bottom {
		margin-left: 5px;
		text-align: center;
	}

	.btn_google {
		width: 130px;
		height: 42px;
	}

	.btn_line {
		width: 135px;
		height: 40px;
		margin: 0 auto;
	}

}

.thanks {
	text-align: left;
	font-size: 13px;
	border-radius: 6px;

	p {
		margin-left: 10px;
		margin-right: 10px;
    	padding-bottom: 10px;
	}
}
.text_title {
	font-size: 18px;
    font-weight: lighter;
    line-height: 50px;
    padding-left: 10px;
    text-align: left;
    position: relative;
}

.text_menu {
	font-size: 18px;
    font-weight: lighter;
    line-height: 50px;
    padding-left: 10px;
    position: relative;

    &:after {
    	content: "";
    	width: 30px;
    	height: 30px;
		background-image: url("../images/pic_btn.png");
		background-repeat: no-repeat;
		background-size: 30px 30px;
		position: absolute;
		top: 10px;
		right: 10px;
    }

    &.active:after {
		transform: scaleY(-1);
    }
}

.news {
	width: 435px;
	border-radius: 6px;
	text-align: left;
	float: left;

	li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.contact {
	width: 435px;
	border-radius: 6px;
	text-align: left;
	float: right;

	.text_name {
		font-size: 15px;
	}

	p {
		margin-bottom: 5px;
	}
}

.footer {
	clear: both;
	margin-bottom: 10px;
	color: #666666;
	font-size: 14px;
}

.privacy {
	margin: 20px auto;
	padding: 10px;
	text-align: left;
}

.btn_logo {
	margin: 10px auto;
	width: 100px;
	height: 59px;
	background-image: url("../images/pic_logo.png");
	background-repeat: no-repeat;
	background-size: 100px 59px;

	a {
		display: block;
		width: 100px;
		height: 59px;
	}
}


@media only screen and (max-width:920px){
	.box_wrapper {
		width: 600px;
	}

	.works {
		ul li {
			margin-top: 0px;
			margin-bottom: 30px;

			&:nth-child(3n) {
				margin-right: 30px;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	.thanks {
		margin-top: -30px;
	}

	.news,
	.contact {
		width: 600px;
	}

	.box_toggle {
		width: 580px;
	}
	
}


@media only screen and (max-width:600px){
	.box_wrapper {
		width: 280px;
	}

	.header {
		margin: 70px 0;

		.text_title {
			margin: 50px 0 20px;
			font-size: 32px;
			font-weight: lighter;
		}

		.text_subTitle {
			color: #666666;
			font-size: 14px;
		}
	}

	.works {
		ul li {
			margin-top: 0px;
			margin-bottom: 30px;

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	.thanks {
		margin-top: -30px;
	}

	.news,
	.contact {
		width: 280px;
	}

	.box_toggle {
		width: 260px;
	}

	
}